* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.section-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 120px;
}

.navbar-btn-container {
    display: flex;
    gap: 84px;
}

.navbar-btn {
    background-color: white;
    border: none;
    color: #424956;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.call-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  
}

.call-btn {
    background-color: white;
    border: 1px solid #B71921;
    border-radius: 2px;
    color: #B71921;
    padding: 12px 68px 12px 40px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.icon-call-btn {
    position: absolute;
    bottom: 12px;
    padding-left: 138px;
}



.hero-section-1 {
    display: flex;
    flex-direction: row;
    margin: 0px 120px;
    gap: 20px;
}

.hero-container-1 {
    display: flex;
    flex-direction: column;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 84px;
}

h1 {
    font-size: 55px;
    line-height: 120%;
    color: #424956;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-style-body-m {
    font-size: 18px;
    line-height: 150%;
    color: #4D515C;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.how-it-work-btn-container {
    margin-top: 56px;
}

.how-it-work-btn {
    background-color: #B71921;
    border: none;
    border-radius: 2px;
    width: 193px;
    padding: 16px 48px;
    display: inline;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hero-container-2 {
    width: 100%;
}

.hero-image {
    width: 590px;
}



.section-2 {
    display: flex;
    flex-direction: row;
    margin: 120px 120px 0px 120px;
    gap: 305px;
}

.title-section-2-container {
    width: 305px;
}

h2 {
    font-size: 48px;
    line-height: 120%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #424956;
}

.description-section-2-container {
    width: 590px;
}

.text-style-body-l {
    font-size: 20px;
    line-height: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D515C;
}



.section-3 {
    margin: 120px 120px 0px 120px;
}

.grid-container-section-3 {
    margin-top: 48px;
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: repeat(3, 431px);
    grid-template-areas: 
    "card-1 . card-2 card-2"
    ". card-3 card-4 card-5"
    "card-6 . card-7 card-7";
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.card-4 {
    grid-area: card-4;
}

.card-5 {
    grid-area: card-5;
}

.card-6 {
    grid-area: card-6;
}

.card-7 {
    grid-area: card-7;
}

.narrow-image {
    width: 285px;
}

.wide-image {
    width: 590px;
}

.card-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.text-style-subtitle-2 {
    font-size: 18px;
    line-height: 120%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #424956;
}

.text-style-body-s {
    font-size: 16px;
    line-height: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D515C;
}

.read-more-btn-container {
    margin-top: 20px;
}

.read-more-btn {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: none;
    color: #B71921;
    text-decoration: underline;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}



.section-footer {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    padding: 64px 120px;
    gap: 223px;
    border: 2px solid #00AEEF;
    border-right-style: none;
    border-left-style: none;
}

.footer-container-1 {
    display: flex;
    flex-direction: column;
    width: 488px;
}

.logo-footer {
    width: 183px;
    margin-bottom: 30px;
}

.text-style-footer-subtitle {
    font-size: 16px;
    line-height: 120%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #424956;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 24px 0px 16px 0px;
}

.input-element {
    width: 348px;
    height: 45px;
    padding-left: 12px;
    background-color: white;
    border: 1px solid #B71921;
    border-radius: 2px;
}

.subscribe-btn {
    background-color: white;
    display: inline-block;
    border: 1px solid #B71921;
    border-radius: 2px;
    padding: 14px 22px;
    font-size: 14px;
    text-align: center;
    color: #B71921;
    font-size: 14px;
    line-height: 120%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-style-body-xs {
    font-size: 14px;
    line-height: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D515C;
}

.footer-container-2 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 49px;
}

.footer-btn-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-btn {
    background-color: white;
    display: inline-block;
    padding: 2px 0px;
    border: none;
    text-align: start;
    color: #4D515C;
    font-size: 16px;
    line-height: 120%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social-media-btn-container {
    position: relative;
    justify-content: center;
    align-items: center;
}

.icon-social-media-btn {
    position: absolute;
    width: 20px;
    height: 20px;
}

.social-media-btn {
    margin-left: 28px;
    background-color: white;
    display: inline-block;
    text-decoration: underline;
    border: none;
    text-align: start;
    color: #4D515C;
    font-size: 16px;
    line-height: 120%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.document-link-btn-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.document-link-btn {
    background-color: white;
    display: inline-block;
    border: none;
    text-align: start;
    color: #4D515C;
    text-decoration: underline;
    font-size: 14px;
    line-height: 120%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.copyright-btn {
    background-color: white;
    display: inline-block;
    border: none;
    text-align: start;
    color: #4D515C;
    text-decoration: underline;
    font-size: 14px;
    line-height: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}