* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    margin: 0px 120px 0px 120px;
}

.navbar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.navbar-btn-div {
    display: flex;
    gap: 84px;
}
.navbar-btn {
    background-color: white;
    border: none;
    color: #424956;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.call-button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  
}
.call-btn {
    background-color: white;
    border: 1px solid #B71921;
    border-radius: 2px;
    color: #B71921;
    padding: 12px 68px 12px 40px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.icon-btn {
    position: absolute;
    bottom: 12px;
    padding-left: 138px;
}

.hero-header-div {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    gap: 20px;
    
}

.content1-div {
    width: 590px;
}

.h1 {
    margin-top: 90px;
    font-size: 55px;
    line-height: 120%;
    color: #424956;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.hero-header-text {
    margin-top: 48px;
    font-size: 18px;
    line-height: 150%;
    color: #4D515C;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hero-btn {
    margin-top: 56px;
    background-color: #B71921;
    border: none;
    border-radius: 2px;
    padding: 16px 48px;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.content2-div {
    width: 590px;
}

.second-block-div {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}
.second-h2-div {
    width: 610px;
}
.second-h2 {
    width: 387px;
    font-size: 48px;
    line-height: 120%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #424956;
}
.second-text-div {
    width: 590px;
}
.second-text {
    font-size: 20px;
    line-height: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D515C;
}